header {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#description {
    font-size: 16;
    display: flex;
    justify-content: center;

    max-width: 500px;
    text-align: center;

   align-items: center;
    height: 100%;
    font-size: 40px;
    

    margin-top: 60px;
    line-height: 20px;
    border: 1px solid black;
    border-radius: 5%;

}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#userInput {
    width: 500px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}

.title {
    font-size: 35px;
    text-decoration: underline 3px solid;
}

.displaySearch {
    flex-direction: row;
}

.theMovie {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#movieTitle {
    font-size: 35px;
}

#moviePoster {

}

#movieDescription {
    font-size: 15px;
}

#movieCountry {
    font-size: 20px;
}

ul.dishList {

    list-style-type: none;
}
